<ion-view title='<img src="../img/title.png" alt="title"/>'>
  <ion-content class="padding">

      <div style="padding: 7px; margin-bottom: 5px;" class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
              <input type="text" placeholder="Ecrivez votre message..">
          </label>
          <button style="margin-top: -3px;" class="button button-clear">
              Envoyer
          </button>
      </div>

      <div class="list">
          <a class="item item-avatar" >
              <img src="../img/user.png">
              <h2>Bruno</h2>
              <p style="font-size: 9px; margin-top: -5px;">Il y a 20 minutes.</p>
              <h3>C'est super bien !</h3>
          </a>
          <a class="item item-avatar" >
              <img src="../img/user.png">
              <h2>Pascale</h2>
              <p style="font-size: 9px; margin-top: -5px;">Il y a 22 minutes.</p>
              <h3>Oui, effectivement !</h3>
          </a>
          <a class="item item-avatar" >
              <img src="../img/user.png">
              <h2>M&eacute;lany</h2>
              <p style="font-size: 9px; margin-top: -5px;">Il y a 27 minutes.</p>
              <h3>J'aime trop !!!!!</h3>
          </a>
          <a class="item item-avatar" >
              <img src="../img/user.png">
              <h2>Lola</h2>
              <p style="font-size: 9px; margin-top: -5px;">Il y a 30 minutes.</p>
              <h3>J'ai encore faim...</h3>
          </a>
          <a class="item item-avatar" >
              <img src="../img/user.png">
              <h2>J&eacute;r&eacute;my</h2>
              <p style="font-size: 9px; margin-top: -5px;">Il y a 35 minutes.</p>
              <h3>Ah, moi aussi !!</h3>
          </a>
          <a class="item item-avatar" >
              <img src="../img/user.png">
              <h2>Piwi</h2>
              <p style="font-size: 9px; margin-top: -5px;">Il y a 38 minutes.</p>
              <h3>Miaaaahouuuuuuuu...</h3>
          </a>
          <a class="item item-avatar" >
              <img src="../img/user.png">
              <h2>Venkman</h2>
              <p style="font-size: 9px; margin-top: -5px;">Il y a 40 minutes.</p>
              <h3>Back off, man. I'm a scientist.</h3>
          </a>
      </div>

  </ion-content>
</ion-view>
