<ion-tabs class="tabs-icon-top">

  <!-- Mercato Tab -->
  <ion-tab title="Mercato" icon="icon ion-ios7-football" href="#/tab/mercato">
    <ion-nav-view name="tab-mercato"></ion-nav-view>
  </ion-tab>


  <!-- Chat Tab -->
  <ion-tab title="Chat" icon="icon ion-chatboxes" href="#/tab/chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>
  </ion-tab>


  <!-- Parametres Tab -->
  <ion-tab title="Param&egrave;tres" icon="icon ion-gear-b" href="#/tab/param">
    <ion-nav-view name="tab-param"></ion-nav-view>
  </ion-tab>


</ion-tabs>
